html,
body,
.container {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: gainsboro;
    margin: 0;
}

:root {
    --myblue: rgb(52, 162, 205);
}

* {
    box-sizing: border-box;
}

h1,
ul,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}

ul {
    list-style: none;
    display: contents;
}

p {
    color: #3d3d3d;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-area: 1/1/3/2;
    background-color: var(--myblue, skyblue);
    color: whitesmoke;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(10, auto) 1fr;
    column-gap: 1em;
    row-gap: 1em;
    align-items: center;
    padding: 1em;
    /* display: flex;
    flex-direction: column;
    
    gap: 2em; */
}

#dashboard {
    display: contents;

}

ul :first-child,
ul :nth-child(2) {
    margin-top: 2em;
}

.sidebar li {
    /* margin-bottom: 1em; */
    font-weight: bold;
}

.sidebar svg {
    position: relative;
    height: 1.2em;
    /* top: 0.2em; */
    fill: whitesmoke;
    /* margin-right: 1em; */
    margin-inline: auto;
}

.sidebar img {
    margin-inline: auto;
    height: 1.2em;
    position: relative;
    /* top: 0.175em; */
    /* margin-right: 1em; */

}

#message {
    transform: scaleX(-1);
}

.sidebar h1 {}

.header {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: auto auto;
    padding: 10px 30px;
    row-gap: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-row>* {
    display: flex;
    gap: 15px;
    align-items: center;
}

input {
    width: 40ch;
    height: 1.5em;
    background-color: gainsboro;
    border: none;
    border-radius: 15px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-row .left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}

.bottom-row .left .icon {
    grid-area: 1/1/3/2;
}

.bottom-row .left p {
    font-weight: bold;
}

.bottom-row .right {
    display: flex;
    gap: 15px;
}

button {
    background-color: var(--myblue, skyblue);
    color: whitesmoke;
    font-family: inherit;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 5em;
}

.maincontent {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.leftside {
    display: grid;
    grid-template: auto 1fr 1fr 1fr/ 1fr 1fr;
    gap: 20px;
    padding-right: 20px;
}

.leftside h2 {
    grid-column-start: 1;
    grid-column-end: -1;
}

.shadow {
    -webkit-box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.157);
    box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.157);
}

.card {
    background: linear-gradient(to right,
            rgb(236, 184, 87) 8px,
            whitesmoke 8px);
    border-radius: 8px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.leftside h3 {
    margin-bottom: 8px;
}

.leftside .icons {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.rightside {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 20px;
}

.rightside>div {
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 10px;
    justify-content: space-between;
}

.upper-block h3 {
    line-height: 1.5;
}

.upper-block div:not(:first-child) {
    border-top: solid 2px gainsboro;
    padding-top: 0.25em;
}

.lower-block div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
}

.lower-block .icon {
    grid-area: 1/1/3/2;
}

.lower-block p:first-of-type {
    color: black;
}